		<div class="gap"></div>
		<footer>
			Unless stated otherwise - <a href="/licensing.html">CC BY-SA 4.0</a> - <a href="/about">Kamen</a> @ <a href="/">syndamia.com</a>
		</footer>
	</article>

	<div id="scrollBtn" class="btn">&#xFE3D;</div>
</body>

<script type="text/javascript" src="/scripts/theme-changer.js" crossorigin="anonymous" defer></script>
<script type="text/javascript" src="/scripts/back-to-top.js" crossorigin="anonymous" defer></script>
<script type="text/javascript" src="/scripts/keyboard.js" crossorigin="anonymous" defer></script>

</html>
