:root {
  --bg-color: #262626;
  --fg-color: #ffeede;

  --a-color:                 #cd81a7;
  --a-hover-color:           #eeaacd;
  --accent-line-color:       #d47408;
  --alternating-row-color:   #353535;
  --bg-selection-color:      #81949f;
  --blockquote-color:        #919191;
  --blockquote-border-color: var(--blockquote-color);
  --body-bg:                 #000000;
  --border-color:            #777;
  --code-bg-color:           var(--hi-bg);
  --em-color:                #e17b08;
  --fg-selection-color:      #001121;
  --header-color:            #d49408;
  --header-bg-color:         #1b1b1b;
  --pre-bg-color:            var(--hi-bg);
  --strong-color:            #c35b5b;
  --table-border-color:      var(--border-color);
  --tr-bg-color:             #1c1c1c;

  --terminal-fg: white;
  --terminal-bg: black;
  
  /* https://github.com/morhetz/gruvbox/blob/master/autoload/gruvbox.vim */
  --hi-fg:      var(--fg-color);
  --hi-bg:      #3c3c3c;
  --hic-gray:   #928374;
  --hic-red:    #fb4934;
  --hic-green:  #b8bb26;
  --hic-blue:   #83a598;
  --hic-yellow: #fabd2f;
  --hic-purple: #d3869b;
  --hic-aqua:   #8ec07c;
  --hic-orange: #fe8019;
}

#scrollBtn {
  background-color: var(--bg-color);
}

@media print {
  body, article { background-color: var(--bg-color) }
}
